org.eclipse.servicesregistry.wsdl.test/src/org/eclipse/servicesregistry/wsdl/test/wsdl/wsdls/casefour_rootwsdl_unparsable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marshalltestservice.org/CompoundTestDefs.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://marshalltestservice.org/types3" name="CompoundTestDefs" targetNamespace="http://marshalltestservice.org/CompoundTestDefs.wsdl">
  <message name="echoEmployeeRequest">
    <part element="xsd:string" name="parameters" />
  </message>
  <message name="echoEmployeeResponse">
    <part element="xsd:string" name="result" />
  </message>
  <message name="echoPersonRequest">
    <part element="xsd:string" name="parameters" />
  </message>
  <message name="echoPersonResponse">
    <part element="xsd:string" name="result" />
  </message>
  <message name="echoDocumentRequest">
    <part element="xsd:string" name="parameters" />
  </message>
  <message name="echoDocumentResponse">
    <part element="xsd:string" name="result" />
  </message>
  <portType name="CompoundTest">
    <operation name="echoEmployee">
      <input message="tns:echoEmployeeRequest" />
      <output message="tns:echoEmployeeResponse" />
    </operation>
    <operation name="echoPerson">
      <input message="tns:echoPersonRequest" />
      <output message="tns:echoPersonResponse" />
    </operation>
    <operation name="echoDocument">
      <input message="tns:echoDocumentRequest" />
      <output message="tns:echoDocumentResponse" />
    </operation>
  <portType>
  <binding name="CompoundTestBinding" type="tns:CompoundTest">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="echoEmployee">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoPerson">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="echoDocument">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  <!-- </binding>  -->
</definitions>

