org.eclipse.servicesregistry.wsdl.test/src/org/eclipse/servicesregistry/wsdl/test/wsdl/wsdls/EchoWsdl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/EchoWsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="EchoWsdl" targetNamespace="http://www.example.org/EchoWsdl/" xmlns:xsd1="myschema.org">

    <wsdl:import namespace="myschema.org" location="echoSchema.xsd"></wsdl:import>
    <wsdl:import namespace="http://www.example.org/EchoWsdl/" location="EchoWsdl.wsdl"></wsdl:import>
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EchoWsdl/">
	<xsd:element name="NewOperation">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NewOperationResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:string"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="NewOperationRequest">
    	<wsdl:part name="parameters" element="xsd1:NewElement"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="NewOperationResponse">
    	<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NewPortType">
    	<wsdl:operation name="NewOperation">
    		<wsdl:input message="tns:NewOperationRequest"></wsdl:input>
    		<wsdl:output message="tns:NewOperationResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
