org.eclipse.servicesregistry.wsdl.test/src/org/eclipse/servicesregistry/wsdl/test/wsdl/wsdls/test2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sap.com/xi/EA-APPL/SE/Global" xmlns:tns="http://sap.com/xi/EA-APPL/SE/Global" >

    <element name="NewElement2" type="string"></element>

    <complexType name="NewComplexType2">
    	<sequence>
    		<element name="NewElement" type="string"></element>
    		<element name="NewElement1" type="string"></element>
    	</sequence>
    </complexType>
    
    <simpleType name="NewSimpleType2">
    	<restriction base="string"></restriction>
    </simpleType>
</schema>